[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
falcon = "~=1.4.1"
python-dateutil = "~=2.7.2"
pytz = ">=2018.4"
Werkzeug = "~=0.15.3"
falcon-auth = "*"
hashlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
